apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  namespace: prod
spec:
  replicas: 4
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: python-app
        image: REPLACE_IMAGE
        ports:
        - containerPort: 8080
